## RDDs and DataFrames Basics

* Creating RDDs and DataFrames using SparkContext
* Interoperability between RDDs and DataFrames
* Multiple rows and multiple column specifications for DataFrames
* Creating DataFrames using SQLContext
* Selecting, editing and renaming columns in dataframes
* Interoperability between Pandas and Spark dataframes

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [ ]:
sc

In [ ]:
from pyspark.sql.types import Row
from datetime import datetime

#### Creating RDDs using sc.parallelize()

In [ ]:
simple_data = sc.parallelize([1, "Alice", 50])
simple_data

In [ ]:
simple_data.collect()

In [ ]:
simple_data.first() # Si fuera una lista simple_data[0]

In [ ]:
simple_data.take(2)

In [ ]:
type(simple_data.take(1))

In [ ]:
simple_data.take(1)[0] ## simple_data.first()

In [ ]:
simple_data.take?

In [ ]:
simple_data.collect()

#### This is an ERROR!

* This RDD does not have "columns", it cannot be represented as a tabular data frame
* DataFrames are structured datasets

In [ ]:
df = simple_data.toDF() # :(

#### RDDs with records using sc.parallelize()

In [ ]:
records = sc.parallelize([[1, "Alice", 50], [2, "Bob", 80]])
records

In [ ]:
records.collect()

In [ ]:
records.count()

In [ ]:
records.first()

In [ ]:
records.take(2)

In [ ]:
records.collect()

In [ ]:
records.collect()

In [ ]:
records.take(2)

#### This is an NOT an error!

* This RDD does have "columns", it can be represented as a tabular data frame

In [ ]:
df = records.toDF()

In [ ]:
df

In [ ]:
df.show() # df.head()

#### Creating dataframes using sc.parallelize() and Row() functions
* Row functions allow specifying column names for dataframes

In [ ]:
type(Row(id=1,name="Alice",score=50))

In [ ]:
prueba = sc.parallelize(Row(id=1,
                           name="Alice",
                           score=50))

In [ ]:
prueba.collect()

In [ ]:
data = sc.parallelize([Row(id=1,
                           name="Alice",
                           score=50)])
data

In [ ]:
data.count()

In [ ]:
data.collect()

In [ ]:
df = data.toDF()
df.show()

#### Working with multiple rows

In [ ]:
data = sc.parallelize([Row(
                           id=1,
                           name="Alice",
                           score=50
                        ),
                        Row(
                            id=2,
                            name="Bob",
                            score=80
                        ),
                        Row(
                            id=3,
                            name="Charlee",
                            score=75
                        )])

In [ ]:
df = data.toDF()
df.show()

#### Multiple columns with complex data types

In [ ]:
complex_data = sc.parallelize([Row(
                                col_float=1.44,
                                col_integer=10,
                                col_string="John")
                           ])

In [ ]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

In [ ]:
complex_data = sc.parallelize([Row(
                                col_float=1.44, 
                                col_integer=10, 
                                col_string="John", 
                                col_boolean=True, 
                                col_list=[1, 2, 3])
                           ])

In [ ]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

In [ ]:
complex_data = sc.parallelize([Row(
                                col_list = [1, 2, 3], 
                                col_dict = {"k1": 0, "k2": 1, "k3": 2}, 
                                col_row = Row(columnA = 10, columnB = 20, columnC = 30), 
                                col_time = datetime(2014, 8, 1, 14, 1, 5)
                            )])

In [ ]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

#### Multiple rows with complex data types

In [ ]:
complex_data = sc.parallelize([Row(
                                col_list = [1, 2, 3],
                                col_dict = {"k1": 0},
                                col_row = Row(a=10, b=20, c=30),
                                col_time = datetime(2014, 8, 1, 14, 1, 5)
                            ),              
                            Row(
                                col_list = [1, 2, 3, 4, 5], 
                                col_dict = {"k1": 0,"k2": 1 }, 
                                col_row = Row(a=40, b=50, c=60),
                                col_time = datetime(2014, 8, 2, 14, 1, 6)
                            ),
                            Row(
                                col_list = [1, 2, 3, 4, 5, 6, 7], 
                                col_dict = {"k1": 0, "k2": 1, "k3": 2 }, 
                                col_row = Row(a=70, b=80, c=90),
                                col_time = datetime(2014, 8, 3, 14, 1, 7)
                            )])

In [ ]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

#### Creating DataFrames using SQLContext (SparkSession)

* spark can create dataframes directly from raw data

In [ ]:
spark

In [ ]:
df = spark.range(5)
df

In [ ]:
df.show()

In [ ]:
df.count()

#### Rows specified in tuples

In [ ]:
data = [('Alice', 50),
        ('Bob', 80),
        ('Charlee', 75)]

In [ ]:
df = spark.createDataFrame(data)

In [ ]:
df.show()

In [ ]:
spark.createDataFrame(data, ['Name', 'Score']).show()

In [ ]:
complex_data = [
                 (1.0,
                  10,
                  "Alice", 
                  True, 
                  [1, 2, 3], 
                  {"k1": 0},
                  Row(a=1, b=2, c=3), 
                  datetime(2014, 8, 1, 14, 1, 5)),

                 (2.0,
                  20,
                  "Bob", 
                  True, 
                  [1, 2, 3, 4, 5], 
                  {"k1": 0,"k2": 1 }, 
                  Row(a=1, b=2, c=3), 
                  datetime(2014, 8, 1, 14, 1, 5)),

                  (3.0,
                   30,
                   "Charlee", 
                   False, 
                   [1, 2, 3, 4, 5, 6], 
                   {"k1": 0, "k2": 1, "k3": 2 }, 
                   Row(a=1, b=2, c=3), 
                   datetime(2014, 8, 1, 14, 1, 5))
                ]

In [ ]:
spark.createDataFrame(complex_data).show()

In [ ]:
complex_data_df = spark.createDataFrame(complex_data, [
        'col_integer',
        'col_float',
        'col_string',
        'col_boolean',
        'col_list',
        'col_dictionary',
        'col_row',
        'col_date_time']
    )
complex_data_df.show()

#### Creating dataframes using SQL Context and the Row function
* Row functions can be used without specifying column names

In [ ]:
data = sc.parallelize([
    Row(1, "Alice", 50),
    Row(2, "Bob", 80),
    Row(3, "Charlee", 75)
])

In [ ]:
column_names = Row('id', 'name', 'score')  
students = data.map(lambda r: column_names(*r))

In [ ]:
students

In [ ]:
students.collect()

In [ ]:
students_df = spark.createDataFrame(students)
students_df

In [ ]:
students_df.show()

#### Extracting specific rows from dataframes

In [ ]:
complex_data_df.first()

In [ ]:
complex_data_df.take(2)

In [ ]:
complex_data_df.collect()

#### Extracting specific cells from dataframes

In [ ]:
cell_string = complex_data_df.collect()[0][2]
cell_string

In [ ]:
cell_list = complex_data_df.collect()[0][4]
cell_list

In [ ]:
cell_list.append(100)
cell_list

In [ ]:
complex_data_df.show()

In [ ]:
complex_data_df.dtypes

In [ ]:
complex_data_df.printSchema()

#### Selecting specific columns

In [ ]:
complex_data_df.rdd\
    .map(lambda x: (x.col_string, x.col_dictionary))\
    .collect() # No es com√∫n ni es recomendado

In [ ]:
complex_data_df.select(
    'col_string',
    'col_list',
    'col_date_time'
).show()

#### Editing columns

In [ ]:
complex_data_df.rdd\
           .map(lambda x: (x.col_string + " Boo"))\
           .collect()

In [ ]:
complex_data_df.col_integer # complex_data_df["col_integer"]

#### Adding a column

In [ ]:
complex_data_df.select(
                   'col_integer',
                   'col_float'
            )\
           .withColumn(
                   "col_sum",
                    complex_data_df.col_integer + complex_data_df.col_float
           )\
           .show()

In [ ]:
complex_data_df.select('col_boolean')\
               .withColumn(
                   "col_opposite",
                   complex_data_df.col_boolean == False )\
               .show()

#### Editing a column name

In [ ]:
complex_data_df.withColumnRenamed("col_dictionary","col_map").show()

In [ ]:
complex_data_df.show()

In [ ]:
complex_data_df.select(complex_data_df.col_string.alias("Name")).show()

#### Interoperablity between Pandas dataframe and Spark dataframe

In [ ]:
import pandas

In [ ]:
df_pandas = complex_data_df.toPandas()
df_pandas

In [ ]:
df_spark = spark.createDataFrame(df_pandas)  
df_spark.show()

In [ ]:
df_spark.rdd.getNumPartitions()